.register__page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register__page form {
  animation: fadeIn 1s;
}
form .error__message {
  background-color: rgb(202, 51, 51);
  color: white;
  padding: 0.2rem;
  border-radius: 5px;
  animation: 1s fadeIn;
  text-align: center;
}
.register__page form button {
  background-color: rgb(92, 228, 92);
  font-weight: bold;
}

.register__page form a {
  font-weight: bold;
}
.input__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input__buttons button {
  flex: 4;
}
.input__buttons a {
  flex: 8;
  text-align: right;
}
@media only screen and (max-width: 400) {
  .input__control input {
    max-width: 200px;
  }
}
