.textarea__control {
  display: grid;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 6px;
}

.textarea__control textarea {
  outline: none;
  border: none;
  font-weight: 600;
}

.textarea__control label {
  font-size: 0.7rem;
}
